{% extends 'home.html' %}
{% load static %}



<div class="container">
<body background="pink">
{% block content %}
  <div class="jumbotron">

      <h3 style="color:black;text-align:center;">About</h3>
      <div class="container">
    <p class="display-6 font-weight-italic">This is Django mini Project of Store Management System to store the different items and search those items by filtering.User can Add items, list items, delete items and search for the items in Store. All the source code is written in Python-Django.</p>
  <p class="display-6 font-weight-italic">This mini store project is made by me Shobhika as a learning project to excel my django skill set and gaining hands on practise on such skills.</p>
      </div>
  </div>
</div>
            {% endblock %}
  </body>

